footer{
    padding:80px 0;
}
footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > div address p{
    padding-top:20px;
    font-size:14px;
    color:black;
    font-weight: 600;
}
footer > div > ul{
    max-width: 500px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
footer > div > ul li ul li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
footer > div > ul li ul li a{
    font-size: 14px;
    font-weight: 800;
}
footer > div > ul li ul li a:hover{
    color:#ff5414;
}
footer > div > ul li ul li::after{
    content: "";
    top:50%;left:0;
    transform: translateY(-50%);
    position: absolute;
    width:6px;
    height:6px;
    border-radius: 50%;
    background: #ff5414;
}
footer > div > div p{
    font-weight: 800;
    color:#ff5414;
    padding-bottom: 20px;
}