/* MAIN SLIDE SECTION */
.main_slide{
    position: relative;
}
.main_slide li{
    background: no-repeat;
    background-position: center;
    background-size: cover;
    height:650px;
}
.main_slide li.slide{
    background-image: url(../images/feature_slide_01.jpg);
}
.main_slide li .slide_contents{
    height:100%;
    display: flex;
    align-items: center;
}
.main_slide li .slide_contents .contents{
    margin-left: 115px;
}
.main_slide li .slide_contents .price_order{
    display: flex;
    align-items: center;
}
.price_order .price{
    color:#34404b;
    font-size:18px;
    font-weight: 600;
    margin-right: 30px;
}
.price_order .cart{
    margin-right: 10px;
    font-weight: 600;
    background-position-y: -30px;
}
.price_order .order_now{
    font-size: 18px;
    font-weight: 600;
    color:#ff5912;
}
.main_slide .bx-wrapper{
    position: relative;
}
.main_slide .bx-controls{
    position: absolute;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -566px;
}
.main_slide .bx-controls .bx-pager-item a{
    display: block;
    text-indent: -9999em;
    width:10px;
    height:17px;
    background: #fff;
    margin-bottom: 9px;
    transition: .3s linear;
}
.main_slide .bx-controls .bx-pager-item a.active{
    width:10px;
    height:36px;
    background:#ff5912;
}

/* MAIN NEW ARRIVALS SECTION */
.new_arrivals_list .list_contents{
    background: #fff;
    text-align: center;
}
.new_arrivals_list .list_contents .default{
    padding:30px 0;
}
.new_arrivals_list .list_contents .hover{
    padding:30px 0;
}
.new_arrivals_list .list_contents .default h3{
    font-size:18px;
    font-weight: 600;
    margin: 28px 0;
    color:#34404b;
}
.new_arrivals_list .list_contents .default h4{
    color: #ff5912;
    font-weight: 600;
}
.new_arrivals_list .list_contents .hover p{
    font-size:14px;
    color:#34404b;
    margin-bottom:30px;
}
.new_arrivals_list .list_contents .hover .color{
    word-spacing: -4px;
}
.new_arrivals_list .list_contents .hover .color span{
    width:14px;
    height:14px;
    border-radius: 50%;
    background: red;
    text-indent: -9999em;
    display: inline-block;
    margin: 0 2.5px;
}
.new_arrivals_list .list_contents .hover .color .red{
    background: red;
}
.new_arrivals_list .list_contents .hover .color .DarkMagenta{
    background: DarkMagenta;
}
.new_arrivals_list .list_contents .hover .color .LightSkyBlue{
    background: LightSkyBlue;
}
.new_arrivals_list .list_contents .hover .color .LightGreen{
    background: LightGreen;
}
.new_arrivals_list .list_contents .hover hr{
    margin: 0 auto 30px;
    width:170px;
    border:none;
    border-bottom: 1px solid #d9dbdf;
}
.new_arrivals_list .list_contents .hover ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_arrivals_list .list_contents .hover ul li{
    margin: 0 15px;
}
.share{
    width:19px;
    height:18px;
    background-position: -150px 0;
}
.addcart{
    width:22px;
    height:19px;
    background-position: -180px 0;
}
.wishlist{
    width:19px;
    height:16px;
    background-position: -210px 0;
}
.new_arrivals_list .list_contents .hover ul li a:hover{
    background-position-y: -30px;
}
.new_arrivals_list > li{
    height: 365px;
    overflow: hidden;    
}
.new_arrivals_list > li .default img{
    height:216px;
    width: auto;
    transition:height 0.5s;
}
.new_arrivals_list > li .list_contents{
    transition: box-shadow .5s;
}
.new_arrivals_list > li:hover .list_contents{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.new_arrivals_list > li:hover .default img{
    height:60px;
    width:auto;
}
.new_arrivals_list > li:hover .default h4{
    display: none;
}
.new_arrivals_list > li:hover .hover{
    padding-top: 0;
}
.new_arrivals > button{
    width:100%;
    padding: 22.5px 0;
    border: none;
    margin-top: 80px;
    background: #fff;
}
.new_arrivals > button span{
    display: inline-block;
    width:38px;
    height:8px;
    background-position: -240px 0;
}


/* MAIN HOT DEAL BANNER SECTION */
.hot_deal_banners aside{
    display: flex;
    gap:30px;
}
.hot_deal_banners aside .aside-left{
    background: #fff;
    padding: 10px 55px;
    display: flex;
    align-items: center;
}
.hot_deal_banners aside .aside-left .content{
    padding:0 30px;
}
.hot_deal_banners aside .aside-left .content h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}
.hot_deal_banners aside .aside-left .content p{
    font-size: 14px;
    font-weight: 600;
}
.hot_deal_banners aside .aside-left .price{
    display: flex;
    gap: 10px;
}
.hot_deal_banners aside .aside-left .price > span{
    display: inline-block;
    width:22px;
    height:21px;
    background-position: -180px -28px;
}
.hot_deal_banners aside .aside-left .price p{
    font-size: 24px;
    font-weight: 600;
    color:#ff5912
}
.hot_deal_banners aside .aside-left .price p > span{
    font-size: 16px;
    font-weight: 600;
}
.hot_deal_banners aside .aside-right{
    padding:30px 0;
    flex: 1;
    background: #fff;
    text-align: center;
}
.hot_deal_banners aside .aside-right h5{
    font-weight:600;
}
.hot_deal_banners aside .aside-right h5 span{
    color:#ff5912;
}
.hot_deal_banners aside .aside-right p{
    letter-spacing: 10px;
    padding-top: 5px;
}